.brick, .header__toggler .brick::before, .header__toggler .brick::after {
  height: 3px;
  width: 24px;
  border-radius: 2px;
  display: block;
  background-color: #fff;
  position: absolute;
  transition: all .35s ease-in-out; }

.centered, .header__toggler .brick, .header__toggler .brick::before, .header__toggler .brick::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.pseudo, .header__toggler .brick::before, .header__toggler .brick::after {
  content: ""; }

.header--main {
  background-color: #d3135a; }

.header__top {
  text-align: right; }
  .header__top li {
    display: inline-block;
    margin: 0 6px;
    height: 14px; }
    .header__top li a {
      font-size: 12px;
      line-height: 14px;
      height: 14px;
      display: block;
      color: #000; }

.header__title {
  display: inline-block;
  overflow: hidden;
  margin-right: 40px; }
  .header__title h1 {
    margin: 0;
    line-height: 56px;
    color: #ffc2dd; }

.header__toggler {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 30px;
  right: 10px; }
  .header__toggler .brick::before {
    top: -12px; }
  .header__toggler .brick::after {
    top: 12px; }
  .header__toggler--primary {
    position: absolute; }
  .header__toggler:hover {
    cursor: pointer; }

.header__navigation {
  background-color: #d3135a;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%; }
  .header__navigation ul {
    display: none; }
    .header__navigation ul li {
      min-height: 30px; }
      .header__navigation ul li a {
        padding: 10px;
        display: block;
        font-size: 1.125em;
        line-height: 1.11111111em;
        color: #fff; }
        .header__navigation ul li a:hover, .header__navigation ul li a:active, .header__navigation ul li a:focus {
          color: #4d4d4d; }
  .header__navigation.open ul {
    display: block; }
  .header__navigation.open .header__toggler .brick, .header__navigation.open .header__toggler .brick::before, .header__navigation.open .header__toggler .brick::after {
    background: transparent; }
    .header__navigation.open .header__toggler .brick::before, .header__navigation.open .header__toggler .brick::after {
      background-color: #fff; }
    .header__navigation.open .header__toggler .brick::before {
      transform: rotate(45deg) translateY(6px) translateX(5px);
      transform: rotate(45deg) translateY(3px) translateX(3px); }
    .header__navigation.open .header__toggler .brick::after {
      transform: rotate(-45deg) translateY(-6px) translateX(6px); }

@media (min-width: 1010px) {
  .header--main {
    height: 117px; }
  .header__top {
    caption-side: top;
    display: table-caption; }
    .header__top li {
      margin: 0 6px;
      height: auto; }
      .header__top li a {
        font-size: 12px;
        line-height: 14px;
        height: auto;
        display: block;
        color: #000;
        padding: 20px 0 10px 0; }
  .header__bottom {
    display: table-row-group; }
    .header__bottom--row {
      display: table-row; }
  .header__toggler {
    display: none; }
  .header .container {
    display: table;
    height: 73px; }
  .header__title, .header__navigation {
    display: table-cell; }
  .header h1 {
    width: 50%;
    vertical-align: bottom;
    font-size: 46px;
    display: block; }
  .header__navigation {
    background: transparent;
    width: 45%;
    top: 0;
    position: relative;
    vertical-align: bottom; }
    .header__navigation .wrapper {
      display: block;
      height: 73px;
      max-height: 73px; }
    .header__navigation ul {
      text-align: center;
      display: block; }
    .header__navigation li {
      display: inline-block;
      position: relative;
      margin-top: 18px; } }
