.brick {
    height: 3px;
    width: 24px;
    border-radius: 2px;
    display: block;
    background-color: #fff;
    position: absolute;
    transition: all .35s ease-in-out;
}

.centered {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pseudo {
    content: "";
}

.header {
    $mainColor: #d3135a;
    $grey: #4d4d4d;

    &--main {
        background-color: $mainColor;
    }

    &__top {
        text-align: right;

        li {
            display: inline-block;
            margin: 0 6px;
            height: 14px;

            a {
                font-size: 12px;
                line-height: 14px;
                height: 14px;
                display: block;
                color: #000;
            }
        }
    }

    &__title {
        display: inline-block;
        overflow: hidden;
        margin-right: 40px;

        h1 {
            margin: 0;
            line-height: 56px;
            color: #ffc2dd;
        }
    }

    &__toggler {
        width: 40px;
        height: 40px;
        position: fixed;
        top: 30px;
        right: 10px;

        .brick {
            @extend .centered;

            &::before, &::after {
                @extend .pseudo;
                @extend .brick;
            }

            &::before {
                // top: -15px;
                top: -12px;
            }

            &::after {
                // top: 10px;
                top: 12px;
            }
        }

        &--primary {
            position: absolute;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__navigation {
        background-color: $mainColor;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;

        ul {
            display: none;

            li {
                min-height: 30px;

                a {
                    padding: 10px;
                    display: block;
                    font-size: 1.125em;
                    line-height: 1.11111111em;
                    color: #fff;

                    &:hover, &:active, &:focus {
                        color: $grey;
                    }
                }
            }
        }

        &.open {
            ul {
                display: block;
            }

            .header__toggler {
                .brick {
                    background: transparent;

                    &::before, &::after {
                        background-color: #fff;
                    }

                    &::before {
                        transform: rotate(45deg) translateY(6px) translateX(5px);
                            transform: rotate(45deg) translateY(3px) translateX(3px);

                    }
                    &::after {
                        transform: rotate(-45deg) translateY(-6px) translateX(6px);
                    }
                }
            }
        }
    }

    @media (min-width: 1010px) {

        &--main {
            height: 117px;
        }

        &__top {
            caption-side: top;
            display: table-caption;

            li {
                margin: 0 6px;
                height: auto;

                a {
                    font-size: 12px;
                    line-height: 14px;
                    height: auto;
                    display: block;
                    color: #000;
                    padding: 20px 0 10px 0;
                }
            }
        }

        &__bottom {
            display: table-row-group;

            &--row {
                display: table-row;
            }
        }

        &__toggler {
            display: none;
        }

        .container {
            display: table;
            height: 73px;
        }

        &__title, &__navigation {
            display: table-cell;
        }

        h1 {
            width: 50%;
            vertical-align: bottom;
            font-size: 46px;
            display: block;
        }

        &__navigation {
            background: transparent;
            width: 45%;
            top: 0;
            position: relative;
            vertical-align: bottom;

            .wrapper {
                display: block;
                height: 73px;
                max-height: 73px;
            }

            ul {
                text-align: center;
                display: block;
            }

            li {
                display: inline-block;
                position: relative;
                margin-top: 18px;
            }
        }
    }
}
